* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 1rem;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.timer {
    background: black;
    border-radius: 4px;
    padding: 2rem;
    height: 500px;
}

.timer__header {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.timer__body {
    display: flex;
    margin-top: 6rem;
    justify-content: space-around;
}

.timer__day,
.timer__hour,
.timer__min,
.timer__sec {
    font-size: 3rem;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 2px dashed white;
    padding: 2rem;
}

.timer__label {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.timer__button {
    display: block;
    margin: 2rem auto;
    font-size: 20px;
    border-radius: 50%;
    padding: 1.2rem;
    background-color: azure;
}
.timer__button:hover {
    cursor: pointer;
}